{
  "cache": {
    "hostname": "localhost",
    "port": 6379
  },
  "logger": {
    "name": "downloadbot_cache"
  },
  "logging": {
    "version": 1,
    "loggers": {
      "downloadbot_cache": {
        "level": "DEBUG",
        "handlers": ["stream"]
      }
    },
    "formatters": {
      "json": {
        "format": "{\"timestamp\": \"%(asctime)s.%(msecs)03d\", \"severity_level\": \"%(levelname)s\", \"message\": %(message)s}",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "DEBUG",
        "formatter": "json"
      }
    }
  }
}
